[submodule "test_projects/project00"]
	path = test_projects/project00
	url = https://github.com/Ariberry9/ariberry9.github.io
[submodule "test_projects/project01"]
	path = test_projects/project01
	url = https://github.com/Ariberry9/markdown-compiler
[submodule "test_projects/project02"]
	path = test_projects/project02
	url = https://github.com/Ariberry9/web-scrapping
