[submodule "ariberry9.github.io"]
	path = ariberry9.github.io
	url = https://github.com/Ariberry9/ariberry9.github.io
[submodule "markdown-compiler"]
	path = markdown-compiler
	url = https://github.com/Ariberry9/markdown-compiler
[submodule "web-scrapping"]
	path = web-scrapping
	url = https://github.com/Ariberry9/web-scrapping
